@media (max-width: 1300px) {
  .portfolio {
    height: auto;
  }
}

@media (max-width: 75em) {
  .about {
    padding: 15rem 20rem 13rem 20rem;
  }
  .services {
    padding: 8rem;
  }
  .stacks {
    padding: 8rem 20rem;
  }
  .portfolio-el {
    padding: 4rem;
  }
  /* media at 1200 */
}

@media (max-width: 62.5em) {
  .about {
    padding: 15rem 10rem 13rem 10rem;
  }
  .services {
    padding: 4rem;
  }
  .stacks {
    padding: 8rem 15rem;
  }
  .portfolio {
    padding: 9rem 8rem;
  }
  .portfolio-el {
    padding: 2rem;
  }
  /* media at 1000 */
}

@media (max-width: 53.125em) {
  .nav-btn {
    display: block;
    background-color: #1b6a9b;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    background-color: #f7f7f7;
  }

  nav ul {
    flex-direction: column;
    gap: 2rem;
    background-color: #1b6a9b;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    padding: 5rem 4rem 4rem 4rem;
    transform: translateY(-100vh);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  nav.responsive-nav ul {
    transform: translateY(0);
    opacity: 1;
  }

  .nav-btn-close {
    position: absolute;
    top: 2rem;
    right: 4rem;
    color: #fff;
  }

  nav a:link,
  nav a:visited {
    color: #333;
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 600;
  }

  nav a:hover,
  nav a:active {
    border-bottom: 2px solid #66d2ff;
    color: #66d2ff;
  }
  .btn {
    background-color: #66d2ff;
    color: #333;
    border: 2px solid #1b6a9b44;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
  }

  .btn:hover {
    background-color: #fff;
    color: #1b6a9b;
    border: 2px solid #66d2ff;
  }

  .services ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
    column-gap: 4rem;
  }
  .services {
    padding: 8rem;
  }
  .about {
    padding: 15rem 6rem 10rem 6rem;
  }
  .portfolio ul {
    grid-template-columns: 1fr;
    row-gap: 4.5rem;
  }

  .portfolio-list {
    height: 20rem;
    width: 100%;
  }
  .portfolio-el {
    padding: 8rem;
  }
  /* media at 850 */
}

@media (max-width: 46.875em) {
  html {
    font-size: 56.25%;
  }
  .services {
    padding: 4rem;
  }
  .portfolio {
    padding: 9rem 5rem;
  }
  .stacks {
    padding: 8rem 10rem;
  }
  .stacks ul {
    justify-items: center;
  }
  .about {
    padding: 15rem 4rem 8rem;
  }
  .about h2 {
    font-size: 3.4rem;
    margin-bottom: 2rem;
    line-height: 1.3;
  }
  /* media at 750 */
}

@media (max-width: 37.5em) {
  .services ul {
    grid-template-columns: 1fr;
    row-gap: 4.5rem;
  }
  .services {
    padding: 7rem 12rem;
  }
  .stacks ul {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.5rem;
    row-gap: 5rem;
  }
  .stacks {
    padding: 8rem;
  }
  .about img {
    height: auto;
    width: 15rem;
    margin-bottom: 2rem;
  }
  .about {
    padding: 20rem 4rem 8rem;
  }
  .portfolio-el {
    padding: 4rem;
  }
  .footer {
    padding: 8rem 2rem 5px;
  }

  /* media at 600 */
}
@media (max-width: 32.5em) {
  html {
    font-size: 50%;
  }
  .services {
    padding: 7rem;
  }
  .break {
    display: none;
  }
  .modal {
    padding: 4rem;
  }
  .footer h2 {
    margin-bottom: 4rem;
  }
  .footer {
    padding-top: 6rem;
  }
  .wild-screen {
    display: none;
  }
  .small-screen {
    display: block;
  }
  .about h2 {
    font-size: 3.2rem;
  }
  .about {
    padding-top: 17rem;
  }
  /* media at 520 */
}

@media (max-width: 25em) {
  .stacks-icon {
    height: 5rem;
    width: 5rem;
  }
  .level {
    font-size: 1.6rem;
    margin-bottom: 3px;
  }
  .good {
    font-size: 8px;
  }
  .stacks h2 {
    margin-bottom: 12rem;
  }
  .about h2 {
    margin-bottom: 2.7rem;
    line-height: 1.3;
  }
  .about img {
    margin-bottom: 2rem;
  }
  .portfolio-el {
    padding: 2rem;
  }
  .portfolio {
    padding: 9rem 5rem;
  }
  .services {
    padding: 5rem;
  }
  .modal {
    padding: 5rem 0rem;
  }
  .break1 {
    display: none;
  }
  .break3,
  .break2 {
    display: block;
  }
  /* media ar 400 */
}
